- name: Set cloudflared variables
  ansible.builtin.set_fact:
    setup_dir: "{{ ansible_facts['env']['HOME'] }}/setup"

- name: Make setup directory if it doesn't exist
  ansible.builtin.file:
    path: "{{ setup_dir }}"
    state: directory
    mode: '0755'

- name: Copy compose.yml
  ansible.builtin.template:
    src: templates/compose.yml.j2
    dest: "{{ setup_dir }}/compose.yml"
    mode: '0600'

- name: Run Docker Compose up
  community.docker.docker_compose_v2:
    project_src: "{{ setup_dir }}"
    state: present
    pull: always
