HC_DRIVE_FOLDER_ID={{ health_connect_converter_drive_folder_id }}
HC_SPREADSHEET_ID={{ health_connect_converter_spreadsheet_id }}
HC_UID={{ ansible_facts['user_uid'] }}
HC_GID={{ ansible_facts['user_gid'] }}
