services:
  watchtower:
    image: nickfedor/watchtower:latest
    restart: unless-stopped
    environment:
      WATCHTOWER_POLL_INTERVAL: "300"
      WATCHTOWER_CLEANUP: "true"
      DOCKER_CONFIG: /config
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ watchtower_docker_config_dir }}:/config:ro
    command: {{ watchtower_target_containers | join(' ') }}
